[submodule "apps/csview"]
	path = apps/csview
	url = git://github.com/wfxr/csview.git
[submodule "apps/dog"]
	path = apps/dog
	url = git://github.com/ogham/dog.git
[submodule "apps/gping"]
	path = apps/gping
	url = git://github.com/orf/gping.git
[submodule "apps/oha"]
	path = apps/oha
	url = git://github.com/hatoo/oha.git
[submodule "apps/charge-lnd"]
	path = apps/charge-lnd
	url = git://github.com/accumulator/charge-lnd.git
[submodule "apps/rebalance-lnd"]
	path = apps/rebalance-lnd
	url = git://github.com/C-Otto/rebalance-lnd.git
[submodule "apps/suez"]
	path = apps/suez
	url = git://github.com/prusnak/suez.git
[submodule "apps/lntop"]
	path = apps/lntop
	url = git://github.com/edouardparis/lntop.git
[submodule "apps/igniter"]
	path = apps/igniter
	url = git://github.com/RooSoft/igniter.git
[submodule "apps/perfectly-balanced"]
	path = apps/perfectly-balanced
	url = git://github.com/cuaritas/perfectly-balanced.git
[submodule "apps/sc-im"]
	path = apps/sc-im
	url = git://github.com/andmarti1424/sc-im.git
[submodule "apps/ttyd"]
	path = apps/ttyd
	url = git://github.com/tsl0922/ttyd.git
[submodule "apps/libwebsockets"]
	path = apps/libwebsockets
	url = https://libwebsockets.org/repo/libwebsockets
